{% extends "base.html" %} 

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="home-main-div">
    <div class="home-text-div home-page-image">
        <div class="home-text-bg">

<h1 class="text-center p-2 d-block heading-text ">
    Welcome to Healthy You!
 </h1>
 <p class="text-center heading-text home-p">A webpage where you can find delicious recipes for healthy meals, snacks and drinks. You can share your own recipes if you like and also save, rate and comment on other peoples. </p>
 <p class="text-center heading-text home-p">To be able to do that you need to register and create your own account. Just go to the registration tab and take it from there.</p>
 <p class="text-center heading-text home-p">If you got any questions you can reach out to us with the form at the contact page. We hope you will join us and together start your journey to a new healthier, better life! </p>
</div>
</div>
<div class="container text-center">
    

    <div class="row justify-content-center mt-4 mb-3">

        <a href="" class="home-tag">Meat        </a>
            <a href="" class="home-tag">Fish</a>
            <a href="" class="home-tag">Cake</a>
            <a href="" class="home-tag">Pasta</a>
            <a href="" class="home-tag">Snacks</a>
        </div>
</div>
</div>
{% endblock %}

