{% extends "base.html" %} 
{% load static %}
{% block title %}Profile Page - {{profile.user.username}}{% endblock %}

{% block content %}
<div class="profile-main-div">
    <div class="profile-h1-div healthy-food-background heading-text">
        <div>

<h1 class="text-center d-block heading-text pt-4">
Profile Page </h1>
 
</div>
</div>
<div class="container text-center contact-form-div">
    

    <div class="row justify-content-center mt-4 profile">
        <div class="profile-info">
            
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined: </strong> {{ profile.user.date_joined |date:'d M Y' }}</p>
            <p><strong>Recipes: </strong>{{ profile.user.recipe_owner.count }}</p>
            {% if profile.bio is not none %}
            {{ profile.bio|safe }}
            {% endif %}

        </div>
        <div class="profile-recipes">
            <h2 class="text-center pb-3 green-heading-bg pt-3">Latest Recipes</h2>
            {% for recipe in profile.user.recipe_owner.all %}
            <a href="{% url 'recipe_detail' recipe.id %}">
                <h3>{{ recipe.title }}</h3>
            </a>
            {{ recipe.posted_date }}
            <hr>
            {% endfor %}
        </div>
    </div>
   
</div>
</div>
{% endblock %}