{% extends "base.html" %} 
{% load static %}

{% block title %}Recipes{% endblock %}

{% block content %} 
<h1 class="text-center d-block heading-text healthy-food-background pb-3 pt-3">
    Latest Recipes
</h1>
<div class="container">
    <div class="row justify-content-center recipe-cards-div">
        {% for recipe in recipes %} 
        <div class="col-lg-4 col-md-6 col-sm-12 center-div recipe-card-bigger-screens">
            <a href="{% url 'recipe_detail' recipe.id %}" class="recipes" aria-label="Click to view {{recipe.title}}">
                <div class="card m-3" style="width: 18rem;">
                    <div class="recipes-image-container">
                    <img src="{{recipe.image.url}}" class="card-img-top recipe-image" alt="{{recipe.image_description}}">
                     <!-- Heart icon to save recipe -->
                     <a href="#" target="#" rel="noopener" aria-label="heart icon" class="recipes-heart-icon mt-4 ml-4" data-recipe-id="{{ recipe.id }}"><i class="fa-solid fa-heart"></i>
                    </a>
                    </div>
                    <div class="card-body card-flex">
                        <!--recipe title-->
                        <h2 class="card-title main-text">{{recipe.title}}</h2>
                        <!--recipe description-->
                        <p class="card-text main-text">{{recipe.description|truncatechars:100}}</p>
                        <!--star rating-->
                        <div class="rating">
                            <form method="post" action="{% url 'recipe_rating' recipe.id %}" >
                                {% csrf_token %}
                                <input type="radio" name="rating" id="rating-star1"> <label for="rating-star1"></label>
                                <input type="radio" name="rating" id="rating-star2"> <label for="rating-star2"></label>
                                <input type="radio" name="rating" id="rating-star3"> <label for="rating-star3"></label>
                                <input type="radio" name="rating" id="rating-star4"> <label for="rating-star4"></label>
                                <input type="radio" name="rating" id="rating-star5"> <label for="rating-star5"></label>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        {% endfor %}
    </div>
</div>
{% endblock %}