@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* fonts */
    --title: 'Roboto', 'Sans-serif';
    --main-font: 'Roboto', 'Sans-serif';

    /* colors */

    --background: #fff;
    --green: #49892a;
    --darkgreen: #198754;
    --white: #fff;
    --off-white: #F1EDE1;


    /* box shadows and border */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #9fa5a0;

}

html, body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 10 auto;
    background-color: var(--white);
}

/* dark green text */
.darkgreen-text {
    color: var(--darkgreen);
}

/* green text */
.green-text {
    color: var(--green);
}

/* heading text */

.heading-text {
  
    color: white;
    background-color: #49892a;
    text-shadow: 0 2px 4px #000000d9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    
}

/* main text */

.main-text {
    color: black;

}

/* anchors */
a {
    color: black;
    text-decoration: none;
}

/* buttons */
.green-button {
    background-color: var(--darkgreen);
    margin-bottom: 10px;
    border-color: var(--darkgreen);
}

/* HEADER */
header {
    background-color: var(--off-white);
}

.navbar {
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow);
}

a.nav-link {
    color: var(--green);
}

/* active link in navbar */

.active {
    border-bottom: 2px solid var(--darkgreen);
    font-weight: 300;
}



/* search bar */
.form-inline {
    display: flex;
    flex-direction: row;
}

.search-window {
    margin-right: 10px;
}

.search-button {
    margin-right: 10px;
}

img.healthy-you-logo {
    height: 100px;
    width: 340px;
    margin-left: 20px;
    margin-right: 10px;

}

/* FOOTER */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-media-icons {
    height: 2rem;
    margin: 1rem;
}

/* forms */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

/* RECIPES.HTML PAGE */

/* latest recipes heading background */
.healthy-food-background {
    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-size: 100%;
    height: 90px;
}

.recipe-image {
    height: 200px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    object-fit: cover; /* Ensure the image covers the entire container */
}

/* RECIPE_DETAIL.HTML PAGE */

/* centers the recipe recipe heading, description, calories and food type text */
.recipe-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.recipe-pic {
    border-radius: 25px;
    margin-bottom: 10px;
}


/* MEDIA QUERIES */

/* Media query: landscape phones (576px maximum) */
@media screen and (max-width: 576px) {


/* HEADER.HTML */

/* logo */
img.healthy-you-logo {
    height: 60px;
    width: 200px;
}

/* toggle icon */
.navbar-toggler {
    margin-right: 10px;
  }
  }

  /* RECIPES.HTML PAGE */

  /* center recipe div */

  .center-div {
  display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  /* RECIPE_DETAIL.HTML PAGE */

  /* make recipe image smaller */
  .recipe-pic {
    width: 350px;
  }

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

 
 /* HEADER.HTML */

  /* toggle icon */
.navbar-toggler {
    margin-right: 10px;
    height: 3em;
    width: 4em;
  }

  /* toggle icon image */
  .navbar-toggler-icon {
    background-size: 150%;

  }
}


/* Media query: screens bigger then 768px */
@media screen and (min-width: 768px) {
    
  /* RECIPE_DETAIL.HTML PAGE */

  /* make recipe image bigger */
  .recipe-pic {
    width: 570px;
  }
}

/* Media query: Screens bigger then 1200px */
@media screen and (min-width: 1200px) { 


/* RECIPES.HTML PAGE */

.recipe-card-bigger-screens {
    width: 400px;
}

}