@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* fonts */
    --title: 'Roboto', 'Sans-serif';
    --main-font: 'Roboto', 'Sans-serif';

    /* colors */

    --background: #fff;
    --green: #49892a;
    --darkgreen: #198754;
    --white: #fff;
    --off-white: #F1EDE1;


    /* box shadows and border */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #9fa5a0;

}

html, body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 10 auto;
    background-color: var(--white);
}

/* dark green text */
.darkgreen-text {
    color: var(--darkgreen);
}

/* green text */
.green-text {
    color: var(--green);
}

/* heading text */

.heading-text {
    margin-top: 10px;
    color: var(--off-white);
    background-color: #49892a;
    border-radius: 20px;
    
}

/* main text */

.main-text {
    color: black;

}

/* anchors */
a {
    color: black;
    text-decoration: none;
}

/* buttons */
.green-button {
    background-color: var(--darkgreen);
    margin-bottom: 10px;
    border-color: var(--darkgreen);
}

/* HEADER */
header {
    background-color: var(--off-white);
}

.navbar {
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow);
}

a.nav-link {
    color: var(--green);
}

/* active link in navbar */

.active {
    border-bottom: 2px solid var(--darkgreen);
    font-weight: 300;
}



/* search bar */
.form-inline {
    display: flex;
    flex-direction: row;
}

.search-window {
    margin-right: 10px;
}

.search-button {
    margin-right: 10px;
}

img.healthy-you-logo {
    height: 100px;
    width: 340px;
    margin-left: 20px;
    margin-right: 10px;

}

/* FOOTER */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-media-icons {
    height: 2rem;
    margin: 1rem;
}

/* forms */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

/* RECIPES.HTML PAGE */

/* latest recipes heading background */
.healthy-food-background {
    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
}