{% load static %}


<footer>
   <!-- Social Media Icons -->
 <p class="green-text mt-3">FOLLOW US</p>


    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram starting page, opens in a new tab"><img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram app icon"
        class="social-media-icons"></a>

    <a href="https://www.tiktok.com/" target="_blank" rel="noopener" aria-label="Tiktok starting page, opens in a new tab"><img src="{% static '/icons/tiktok-app-icon.svg' %}" alt="Tiktok app icon"
        class="social-media-icons"></a>

    <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Youtube starting page, opens in a new tab"><img src="{% static '/icons/twitter-app-icon.svg' %}" alt="Twitter app icon"
        class="social-media-icons"></a>

    <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Instgram starting page, opens in a new tab"><img src="{% static '/icons/youtube-app-icon.svg' %}" alt="Youtube app icon"
        class="social-media-icons"></a>
</footer>