{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link to fontawesome js -->
    <script src="https://kit.fontawesome.com/114b037aa4.js" crossorigin="anonymous"></script>
    <!-- bootstrap links -->
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% endblock %}

    {% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    <!-- link to favicon -->
    <link rel="icon" type="image/favicon" href="{% static 'images/favicon/healthy-you-favicon2.webp' %}">
    <title>Recipe Site {% block title %} {% endblock %}</title>
</head>
<body>
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
        <div class='alert {% if message.tags %} class="{{ message.tags }}"'{% endif %}>
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endif %}
    {% include 'includes/header.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    
</body>
</html>