{% extends "base.html" %} 

{% block title %}About Healthy You{% endblock %}

{% block content %}
<div class="about-main-div">
    <div class="about-heading-div healthy-food-background">
        <div class="about-heading-bg">

<!-- text in the food image -->
<h1 class="text-center p-2 d-block heading-text ml-4">
    Healthy You
 </h1>
<p class="text-center heading-text contact-p">When you need inspiration for new healthy recipes!</p>
 
</div>
</div>
<!-- container div with info text -->
<div class="container text-center mx-auto">
    

    <div class="row justify-content-center about-page-div pt-5 pb-5">
        <h1 class="text-center p-2 d-block ml-4 mb-4">
            About Us
         </h1>
        <p class="about-us-p text-center">Healthy You is a recipe sharing site for people who wants to enjoy more healthy but tasty food.</p>
        <p class="about-us-p text-center">By signing up to this webpage you can share your own recipes and comment on other peoples recipes.</p>
        <p class="about-us-p text-center">I created this webpage because I know how hard it can be to start a new life with new routines.</p>
        <p class="about-us-p text-center">Just to add some workout in your weekly schedule can be challenging enough.</p>
        <p class="about-us-p text-center">Then you also need to eat the correct type of food to see the results you want.</p>
        <p class="about-us-p text-center">The food part was the hardest for me because you need to know that what you put into your body is good for you.</p>
        <p class="about-us-p text-center">Then you also need to eat the correct amount of calories, not to little or too much.</p>
        <p class="about-us-p text-center">I hope more people will join and push eachother to achive the goals we all want.</p>
        <p class="about-us-p text-center">If you got any questions feel free to contact us through the contact page.</p>
        </div>
</div>
</div>
{% endblock %}

