{% extends "base.html" %} 

{% block title %}About{% endblock %}

{% block content %} 
<h1 class="text-center p-2 d-block heading-text healthy-food-background">
    About Healthy You
</h1>
<div class="container">
    <div class="row justify-content-center">
        <img src="https://images.pexels.com/photos/434295/pexels-photo-434295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="pink smoothie with blue berries on top" id="about-page-image">
        <p class="h4">Healthy You is a recipe sharing site for people who wants to enjoy more healthy but tasty food. 
           <p class="h4"> By signing up to this webpage you can share your own recipes and rate and comment on other peoples recipes. </p>
<p class="h4"> If you got any questions feel free to contact us through the contact page.</p>
        </p>
       
    </div>
</div>
{% endblock %}