{% extends "base.html" %} 

{% block title %}About Healthy You{% endblock %}

{% block content %}
<div class="about-main-div">
    <div class="about-heading-div healthy-food-background">
        <div class="about-heading-bg">

<!-- info text about healthy you -->
<h1 class="text-center p-2 d-block heading-text ml-4">
    About Us
 </h1>
 <p class="text-center heading-text contact-p">Healthy You is a recipe sharing site for people who wants to enjoy more healthy but tasty food. 
    <p class="text-center heading-text contact-p"> By signing up to this webpage you can share your own recipes and save and comment on other peoples recipes. </p>
<p class="text-center heading-text contact-p"> If you got any questions feel free to contact us through the contact page.</p>
 
</div>
</div>
<!-- container div with smiling woman and paragraph text -->
<div class="container text-center mx-auto">
    

    <div class="row justify-content-center mt-5 about-page-div pt-5 pb-5">
        <p class="h6 text-center">My name is Kim and im the creator of this website.</p>
        <p class="h6 text-center">I hope you will enjoy this website as much as I did creating it. Feel free to contact us if you got any questions. </p>
 <img src="https://cdn.pixabay.com/photo/2024/02/27/16/43/ai-generated-8600464_1280.jpg" alt="happy smiling woman" class="about-page-woman mt-4 mb-4">
        </div>
</div>
</div>
{% endblock %}

