{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-main-div">
    <div class="contact-text-div healthy-food-background">
        <div class="contact-text-bg">

<h1 class="text-center p-2 d-block heading-text">
    Contact Us
 </h1>
 <p class="text-center heading-text contact-p">Feel free to contact us if you got any questions. We are happy to help you get started on your journey to become a more healthier and happier you.</p>
 
</div>
</div>
<div class="container text-center contact-form-div">

    
    
    <div class="row mt-5 justify-content-center">
        <form method="post" class="contact-form-div">
            {% csrf_token %}
            {{ form|crispy }}
            
        <button class="btn btn-outline-success mb-4" type="submit">Send Message</button>

            </form>
        </div>
</div>
</div>
{% endblock %}

