{% extends "base.html" %} 

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-main-div">
    <div class="contact-text-div healthy-food-background">
        <div class="contact-text-bg">

<h1 class="text-center p-2 d-block heading-text">
    Contact Us
 </h1>
 <p class="text-center heading-text contact-p">Feel free to contact us if you got any questions. We are happy to help you get started on your journey to become a more healthier and happier you.</p>
 
</div>
</div>
<div class="container text-center contact-form-div">
    

    <div class="row justify-content-center mt-4">
      <form method="post" class="justify-content-center">
        {% csrf_token %}
        <div>
            <label for="id_firstname">First Name</label>
            {{ form.firstname }}
        </div>
        <div>
            <label for="id_lastname">Last Name</label>
            {{ form.lastname }}
        </div>
        <div>
            <label for="id_email">Email</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_message">Message</label>
            {{ form.message }}
        </div>
        <button class="btn btn-outline-success" type="submit">Send Message</button>
    </form>
        </div>
</div>
</div>
{% endblock %}

